:host {
  --_width: 320px;
  --_height: 400px;

  display: contents;
}

#container {
  position: fixed;
  z-index: var(--sl-z-index-drawer);
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;

  #panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--rh-surface-color-darkest, #151515);
    color: var(--rh-color-text-primary-on-dark, #ffffff);
    box-shadow: var(--rh-box-shadow-xl, 0 8px 24px 3px rgba(21, 21, 21, 0.35));
    overflow: auto;
    pointer-events: all;
    animation-delay: 0s;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-duration: 0.5s;

    &:focus {
      outline: var(--rh-border-width-md, 2px) solid var(--rh-color-border-interactive-on-light, #0066cc);
    }
  }

  &.contained {
    position: absolute;
    z-index: initial;
  }

  &:is(.block-start, .block-end) {
    #panel {
      width: var(--_width);
      height: var(--_height);
    }
  }

  &.block-start {
    #panel {
      inset-block-start: 0;
      inset-inline-end: 0;
      inset-block-end: auto;
      inset-inline-start: auto;
    }
  }

  &.block-end {
    #panel {
      inset-block-start: auto;
      inset-block-end: 0;
      inset-inline-start: 0;
      inset-inline-end: 0;
    }
  }

  &:is(.inline-start, .inline-end) {
    #panel {
      width: var(--_width);
      height: 100%;
    }

    &.open {
      #panel {
        animation-name: animate-inline;
        animation-play-state: running;
        animation-direction: normal;
      }
    }

    &.closed {
      #panel {
        animation-name: animate-inline;
        animation-play-state: running;
        animation-direction: reverse;
        opacity: 0;
      }
    }
  }

  &.inline-start {
    #panel {
      inset-block-start: 0;
      inset-block-end: auto;
      inset-inline-start: 0;
      inset-inline-end: auto;
    }
  }

  &.inline-end {
    #panel {
      inset-block-start: 0;
      inset-block-end: auto;
      inset-inline-start: auto;
      inset-inline-end: 0;
    }
  }

  &.open {
    #overlay {
      display: block;
      position: fixed;
      inset: 0;
      background-color: oklch(from var(--rh-color-gray-90, #1f1f1f) l c h / var(--rh-opacity-80, 80%));
      pointer-events: all;
    }
  }
}


@keyframes animate-inline {
  from {
   transform: translate(200%, 0);
   opacity: 0;
  }
  to {
   transform: translate(0%, 0);
   opacity: 1;
  }
 }
